.editor {
    display: flex;
    min-width: 800px;
    margin: auto;
    justify-content: space-between;
    
}

.editor > textarea {
    width: 45%;
    min-height: 800px;
}

.editor > .build-output {
    width: 45%;
}
